@import "../../node_modules/normalize.css/normalize.css";
@import "./fonts.scss";

$def-item-color: #1698d9;
$defhover-item-color: #2ea8e6;
$sel-item-color: #d91667;
$selhover-item-color: #e62e7a;
$disabled-item-color: #b3b3b3;

// применяется к item-background
@mixin paintItem($color) {
  & {
    background-image: linear-gradient(135deg, transparent 30px, $color 30px);
  }
  .item__weight {
    background-color: $color;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}
body {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/bg-pattern.png") #222;
  min-height: 100vh;
}

h1 {
  font-family: "Exo 2";
  font-size: 36px;
  line-height: 1;
  font-weight: 100;
  margin: 40px auto 27px;
  text-align: center;
  color: #fff;
}

input[name="chosen-item"] {
  // display: none;
}

.goods {
  list-style: none;
  display: flex;
  max-width: 95vw;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    flex: 0 1 320px;
    margin: 0 40px 60px;
    height: 480px;
    background-color: #fff;
    @media screen and (max-width: 900px) {
      margin: 0 20px 60px;
    }
  }
}

.item {
  background-color: transparent;
  &__background {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 12px;
    margin-bottom: 13px;
    @include paintItem($def-item-color);
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, transparent 29px, #fff 29px);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 42px;
  }
  &__img {
    position: absolute;
    bottom: -4px;
    left: -4px;
  }
  &__weight {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 11px;
    right: 12px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    &-num {
      margin-top: 5px;
      font-size: 42px;
      line-height: 0.9;
    }
    &-text {
      font-size: 21px;
      line-height: 22px;
    }
  }
  &__header {
    color: #666;
    font-size: 16px;
    margin: 18px 0 10px;
  }
  &__title {
    font-weight: 700;
    &--top {
      display: block;
      font-size: 48px;
      margin-bottom: 5px;
    }
    &--bottom {
      display: block;
      font-size: 24px;
      margin-bottom: 18px;
    }
  }
  &__amount span {
    color: #666;
    display: block;
    margin-bottom: 2px;
  }
  &__bottom-text {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    display: block;
  }
  &__buy {
    cursor: pointer;
    color: $def-item-color;
    border-bottom: 1px dashed;
    &:hover {
      border-bottom: none;
    }
  }
}

.item__background:hover {
  @include paintItem($defhover-item-color);
}

[data-is-checked="true"] .item__background {
  @include paintItem($sel-item-color);
  &:hover {
    @include paintItem($selhover-item-color);
  }
}

[data-is-available="false"] .item__background {
  filter: saturate(0.4);
  & * {
    color: #d2d2d2;
  }
  & .item__weight * {
    color: #fff;
  }
  @include paintItem($disabled-item-color);
  &:hover {
    @include paintItem($disabled-item-color);
  }
}
